@{
    ViewData["Title"] = "Reservation Page";
}

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/pages/reservationIndex.css" rel="stylesheet" />

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-5">

            <h3>Rezervasyon İşlemleri </h3>
            <p>Rezervasyonunuzu tamamlamak için adımları takip ediniz.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item col-sm-6">
                    <a class="nav-link" href="#" id="dateMenuLink">Tarih</a>
                </li>
                <li class="nav-item col-sm-6">
                    <a class="nav-link disabled" id="roomMenuLink" href="#">Oda</a>
                </li>
                <li class="nav-item col-sm-6">
                    <a class="nav-link disabled" id="payMenuLink" href="#">Ödeme</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>

        <div class="col-sm-7">

            <h3>1.Adım</h3>
            <p>Lütfen otele giriş tarihini ve çıkış tarihini seçiniz.</p>

            <div class="col-md-6 mb-4">
                <label for="datetimepicker6">Giriş(Check-in) Tarihi:</label>
                <div class="form-group">
                    <div class='input-group date'>
                        <input type="text" id="startingDate" width="276" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <label for="endingDate">Çıkış(Check-out) Tarihi:</label>
                <div class="form-group">
                    <div class='input-group date'>
                        <input type="text" id="endingDate" width="276" />
                    </div>
                </div>
            </div>
            <div id="dateIsNullAlert" class="alert alert-danger" data-alert="alert">Tarih alanları boş bırakılamaz.</div>


            <br />

            <div class="row">
                <div class="col-9">
                </div>
                <div class="col-3">
                    <div class="text-right">
                        <button id="passToSecondStep" type="button" class="btn btn-outline-primary">2.Adım</button>
                    </div>
                </div>
            </div>

            <br />

            <div id="secondStepDiv">
                @Html.Partial("secondStep.cshtml")
            </div>

            <br />
            <br />

            <div id="thirdStepDiv">
                @Html.Partial("thirdStep.cshtml")
            </div>


        </div>
    </div>
</div>


<script src="~/js/pages/reservationPages/reservationPage.js"></script>
<script src="~/js/components/datepicker.js"></script>